div {
    font-family: Helvetica;
    

    font-size: 32px;
    padding: 5px;
 }

#navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

#logo {
    width: 60px;
}

.items:hover {
    background-color: gray;
    opacity: 0.5;
    cursor: pointer;
}

a {
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
}

#navbar a {
    color: white;
}

#colum_container {
    display: flex;
}

#colum_container div {
    flex: 1;
}